/* GENERAL PAGE STYLE */

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f0f0f;
color:white;
text-align:center;
}

/* HEADER */

header{
background:#111;
padding:30px;
border-bottom:3px solid #222;
}

h1{
font-size:42px;
margin-top:10px;
}

/* GAME GRID */

.games{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
padding:40px;
}

/* GAME CARDS */

.card{
background:#1a1a1a;
width:170px;
padding:20px;
border-radius:12px;
transition:0.25s;
}

.card:hover{
transform:scale(1.07);
background:#222;
}

/* LINKS */

.card a{
text-decoration:none;
color:white;
font-size:18px;
font-weight:bold;
}

/* FOOTER */

footer{
margin-top:40px;
padding:20px;
color:#777;
}

/* SCROLLBAR */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#111;
}

::-webkit-scrollbar-thumb{
background:#444;
border-radius:10px;
}

/* LOCK SCREEN */

#lockScreen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#0f0f0f;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}

#lockScreen input{
padding:12px;
font-size:18px;
border-radius:8px;
border:none;
text-align:center;
}

#lockScreen button{
padding:10px 20px;
border:none;
border-radius:8px;
background:#00ff9c;
font-weight:bold;
cursor:pointer;
}

#error{
color:red;
margin-top:10px;
}