/* GENERAL PAGE STYLE */

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f0f0f;
    color:white;
    text-align:center;
}

/* HEADER */

header{
    background:#111;
    padding:30px;
    border-bottom:3px solid #222;
}

h1{
    font-size:42px;
    margin-top:10px;
}

/* LOGO */

.logo{
    width:130px;
    margin:auto;
}

/* GAME GRID */

.games{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:40px;
}

/* GAME CARDS */

.card{
    background:#1a1a1a;
    width:170px;
    padding:20px;
    border-radius:12px;
    transition:0.25s;
}

.card:hover{
    transform:scale(1.07);
    background:#222;
}

/* LINKS */

.card a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

/* FOOTER */

footer{
    margin-top:40px;
    padding:20px;
    color:#777;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#444;
    border-radius:10px;
}